.caseStudies {
    @include padding;
    .item {
        width: 20%;
    }
    .title {
        width: 100%;
        margin: 0 0 65px 40%;
        @media screen and (max-width: 1130px) {
            margin: 0 0 65px 0;
            text-align: center;
            p {
                margin: 20px auto 0;
            }
        }
        @media screen and (min-width: 1130px) {
           p {
               display: none;
           }
        }
        h1 {
            color: black; 
            font-size: 55px;
        }
    }
    .colOne {
        transform: translateY(-200px);
        @media screen and (max-width: 1130px) {
            transform: translateY(0px);
            justify-content: center;
        }
    }
    .colOne, .colTwo {
        width: 27%;
        display: flex;
        flex-wrap: wrap;
        @media screen and (max-width: 1130px) {
            width: 100%;
            justify-content: center;
        }
        .articles__articles {
            &-item {
                width: unset !important;
                margin: 0px 0 0;
                z-index: 2; 
                position: relative;
            }
        }
        .case {
            width: 270px;
            height: 270px;
            position: relative;
            margin: 0 24px 24px 0;
            overflow: hidden;
            background-color: $purpleLight;
            transition: ease 0.2s;
            h4 {
                position: absolute;
                bottom: 20px;
                left: 20px;
                color: white;
                transition: ease 0.2s;
                z-index: 2;
            } 
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                transition: ease 0.2s;
                z-index: 1;
                &:hover {
                    cursor: pointer;
                    transition: ease 0.2s;
                }
            }
            &:hover {
                h4 {
                    transform: translateX(-120%);
                    transition: ease 0.2s;
                }
                .case--hover {
                    transform: translateX(0%);
                    transition: ease 0.2s;
                    cursor: pointer;
                }
                .case__filter {
                    transform: translateX(0%) skewX(-3deg) skewY(-3deg) translate(-20px, -20px);
                    transition: ease 0.2s;
                    cursor: pointer;
                }   
            }
            &__filter {
                transform: translateX(100%);
                transition: ease 0.2s;
                background-color: $purpleDark;
                opacity: 0.9;
                z-index: 3;
                position: absolute;
                top: 0;
                width: 105%;
                height: 105%;
            }
            &--hover {
                transform: translateX(100%);
                transition: ease 0.2s;
                color: white;
                z-index: 4;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                padding: 20px;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                h5 {
                    font-size: 28px
                }
                &__time {
                    background-color: $purplePastel;
                    border-radius: 20px;
                    padding: 0px 8px;
                    width: max-content;
                    margin: 5px 0 0 0; 
                    color: black;
                }
            }
        }
    }
    .colThree {
        width: 46%;
        @media screen and (max-width: 1130px) {
            width: 100%;
            display: none;
        }
    }
    p {
        font-size: 18px; 
        max-width: 470px;
        margin: 0 0 0 100px;
    }
    img {
        border-radius: 0;
        width: 100%;
        height: auto;
        object-fit: cover; 
    }
}