.cohort {
    padding: 100px 0;
    @media screen and (max-width: $tablet) {
        .container {
            justify-content: center;
        }
    }
    .title {
        text-align: center;
        max-width: 571px;
        h2 {
            font-size: 44px;
        }
        span { 
            font-size: 16px;
        }
    }
    .row {
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 45px;
        margin: 55px 0 0 0;
        @media screen and (max-width: $mobile) {
            justify-content: center;
        }
        &:hover {
            box-shadow: 0px 10px 20px #1D1D1D1A;
            cursor: pointer;
            .text {
                span {
                    opacity: 1;
                }
            }
            .index {
                .subTitle {
                    opacity: 1;
                }
            }
        }
        .index {
            width: max-content;
            display: flex;
            flex-direction: column;
            @media screen and (max-width: $tablet) {
                display: none;
            }
            .subTitle {
                font-size: 16px;
                opacity: 0;
            }
            .date {
                font-size: 35px;
            }
            .places {
                font-size: 16px;
            }
            &-mob {
                display: none;
                @media screen and (max-width: $tablet) {
                    display: flex;
                }
                display: flex;
                flex-direction: column;
                .subTitle {
                    font-size: 16px;
                    opacity: 0;
                }
                .date {
                    font-size: 35px;
                }
                .places {
                    font-size: 16px;
                }
            }
        }
        .text {
            width: max-content;
            padding: 0;
            @media screen and (max-width: $tablet) {
                display: none;
            }
            &-mob {
                display: none;
                @media screen and (max-width: $tablet) {
                    display: block;
                    h3 {
                        font-size: 35px;
                    }
                    p {
                        font-size: 18px;
                    }
                    span {
                        opacity: 0;
                    }
                }
            }
            h3 {
                font-size: 35px;
            }
            p {
                font-size: 18px;
            }
            span {
                opacity: 0;
            }
        }
        .btn {
            width: max-content;
            button {
                background-color: #6C30DB;
                padding: 12px 48px;
                width: fit-content;
                color: white;
                font-size: 18px;
                border-radius: 4px;
                transition: ease 0.2s;
                @media screen and (max-width: $mobile) {
                    margin: 70px 0 0 0;
                }
                // &:hover {
                //     cursor: pointer;
                //     background-color: white;
                //     color: $purple;
                //     transition: ease 0.2s;
                // }
            }
        }
    }
}

