.contact {
    @include padding;
    overflow-x: hidden;
    &__right {
        width: 45%;
        display: flex;
        align-items: center;
        img {
            max-width: 170%;
        }
        @media screen and (max-width: $tablet) {
            display: none;
        }
    }
    &__left {
        width: 45%;
        @media screen and (max-width: $tablet) {
            width: 100%;
            max-width: 350px;
            margin: auto;
            h2, p {
                text-align: center;
            }
        }
        .none {
            display: none;
        }
        h2 {
            font-size: 44px;
            margin: 0 0 25px 0;
        }
        p {
            font-size: 18px;
        }
        label {
            margin: 30px 0 10px 0;
        }
        .submit {
            margin: 20px 0;
            @media screen and (max-width: $tablet) {
                margin: 40px auto;
            }
            background-color: $purple;
            padding: 12px 48px;
            width: fit-content;
            color: white;
            font-size: 16px;
            border-radius: 4px;
            transition: ease 0.2s;
            border: 1px solid white;
            &:hover {
                cursor: pointer;
                background-color: $purpleDark;
                color: white;
                transition: ease 0.2s;
                border: 1px solid $purpleDark; 
            }
        }
        div {
            display: none;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            &.active {
                display: flex !important;
            }
            svg {
                color: white;
                background-color: $purple;
                border-radius: 50%;
                width: 100px;
                height: 100px; 
                padding: 30px;
                margin: 50px 0;
            }
            h3 {
                margin: 0 0 16px 0;
            }
            p {
                max-width: 400px;
            }
        }
        form {
            flex-direction: column;
            display: none;
            &.active {
                display: flex !important;
            }
            select {
                height: 54px;
                background-image: url(../chevron.png);
                background-position: 98% center;
                background-repeat: no-repeat;
                appearance: none;
                background-size: 11px;
                &:invalid {
                    color: #999 !important;
                }
                option:first {
                    color: #999 !important;
                }
                option:disabled {
                    color: #999 !important;
                }
            }
            .radio {
                display: flex;
                flex-direction: row;
                align-items: center;
                input[type="checkbox"] {
                    display:none;
                    &:disabled + span{
                        cursor: not-allowed;
                    }
                    &+ span::before {
                        display: inline-block;
                        vertical-align: middle;
                        align-items: center;
                        justify-content: center;
                        content: "";
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                        background-color: #fff;
                        border: 1px solid $purpleLight;
                        border-radius: 4px;
                    }
                    &:checked + span:before {
                        content: "\2713";
                        text-align: center;
                        font-size: 15px;
                        border: 1px solid $purple;
                        color: #fff;
                        background-color: $purple;
                    }
                }
                a {
                    color: $purple;
                    text-decoration: underline;
                }
            }
        }
    }
}