.maps {
    overflow-x: hidden;
    .map-container {
        width: 100%;
        height: 700px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: end;
        @media screen and (max-width: $tablet) {
            justify-content: center !important;
            align-items: center !important;
            height: 350px;
        }   
    }
    .box__container {
        max-width: $laptop;
        margin: auto;
        z-index: 2;
    }
    &__container__title {
        width: 100%;
        padding: 100px 15px 50px 15px !important;
        flex-direction: column;
    }
    &__container {
        width: 100%;
        background-color: $purpleLight;
        position: relative;
        .container {
            z-index: 3;
            overflow: visible;
            justify-content: end;        
        }
    }
    &__box {
        &.desk {
            @media screen and (max-width: $tablet) {
                display: none;
            }
        }
        &.mob {
            display: none;
            @media screen and (max-width: $tablet) {
                display: block;
                position: relative;
                max-width: 100%;
                align-items: center;
                justify-content: center;
                display: flex;
                text-align: center;
                flex-direction: column;
            }
        }
        &.not-active {
            display: none!important;
        }
        .arrow-square {
            margin-left: 10px; 
        }
        max-width: 550px;
        background: radial-gradient(circle at right bottom, rgba(136, 66, 189, 1) 0%, rgba(52, 27, 97, 1) 100%);
        width: 100%;
        height: auto;
        padding: 40px;
        z-index: 3;
        position: absolute;
        right: 10%;
        opacity: 0;
        transition: ease .7s;
        @media screen and (max-width: $tablet) {
            width: 100%;
            right: unset;
        }
        &.active {
            opacity: 1;
            transition: ease .7s;
            -webkit-animation: fadeIn 1.5s;
            animation: fadeIn 1.5s;
        }
        p {
            color: white;
            margin: 23px 0 0 0;
        }
        button {
            background-color: transparent;
            padding: 12px 48px;
            width: fit-content;
            color: white;
            font-size: 16px;
            border-radius: 4px;
            transition: ease 0.2s;
            border: 1px solid white;
            margin: 20px 0 0 0;
            &:hover {
                cursor: pointer;
                background-color: white;
                color: $purple;
                transition: ease 0.2s;
            }
        }
        &__boxbox {
            @media screen and (max-width: $tablet) {
                width: 100%;
                justify-content: center;
            }
            display: flex;
            align-items: center;
            padding: 0 0 22px 0;
            border-bottom: 1px solid grey;
            &__circle {
                width: 75px;
                height: 75px;
                padding: 8px;
                background-color: $purple;
                border-radius: 50%;
                margin-right: 25px;
            }
            &__text {
                color: white;
                margin-right: 30px;
                span {
                    font-size: 16px;
                }
                h3 {
                    font-size: 22px;
                }
            }
        }
    }
}
