.media {
    @include padding;
    .container {
        flex-direction: column;
    }
    h2 {
        color: black; 
        margin-bottom: 50px;
    }
    span {
        font-size: 18px;
    }
    img {
        border-radius: 0;
        width: 100%;
        height: auto;
        object-fit: cover; 
    }
    .video__container {
        display: flex;
        video {
            width: 100%;
        }
        button {
            position: absolute;
            z-index: 4;
            background-color: $purple;
            border-radius: 50%; 
            width: 70px; 
            height: 70px;
            padding: 0 !important;
            color: white;
            font-size: 30px;
            &.none {
                display: none;
            }
        }
    }
}