.slick {
    @include padding;
    background: $gradient;
    color: white;
    &__slider {
        margin-left: auto;
        margin-right: auto;
        width: 100vw;
        .slick-dots {
            bottom: -75px;
            .slick-active button:before {
                color: lightblue;
            }
            button::before {
                color: white;
                font-size: 16px;
            }
        }
        .slick-prev {
            left: 100px;
            z-index: 3;
            @media screen and (max-width: 1365px) {
                display: none !important;
            }
            @media screen and (max-width: $mobile) {
                display: none !important;
            }
            &:before {
                font-family: unset;
                font-size: 24px;
                font-family: unset;
                color: $purple;
                background-color: white;
                padding: 10px 14px;
                border-radius: 50%;
            }
        }
        .slick-next {
            right: 100px;
            z-index: 3;
            @media screen and (max-width: 1365px) {
                display: none !important;
            }
            @media screen and (max-width: $mobile) {
                display: none !important;
            }
            &:before {
                font-family: unset;
                font-size: 24px;
                color: $purple;
                background-color: white;
                padding: 10px 14px;
                border-radius: 50%;
            }
        }
        .item {
            .container {
                align-items: unset;
                @media screen and (max-width: $tablet) {
                    flex-direction: column-reverse;
                }
            }
            &__left {
                margin: 0 15px;
                width: 27%;
                border-right: 1px solid white;
                @media screen and (max-width: $tablet) {
                    width: 100%;
                    border-right: 0;
                    padding-top: 40px;
                    margin-top: 40px;
                    border-top: 1px solid white;
                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    span {
                        margin: 0 0 0 37px;
                        text-align: left;
                    }
                }
                @media screen and (max-width: $mobile) {
                    width: 100%;
                    border-right: 0;
                    padding-top: 40px;
                    margin-top: 40px;
                    border-top: 1px solid white;
                    div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                    span {
                        text-align: center;
                        margin: 0;
                    }
                }
                div {
                    text-align: left;
                    img {
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        background-color: $purpleLight;
                    }
                }
            }
            &__right {
                width: 60%;
                margin: 0 15px;
                @media screen and (max-width: $tablet) {
                    width: 100%;
                }
            }
        }
    }
}