.tabs-alt {
    height: auto;
    padding: 100px 0 100px 0;
    &__title {
        margin: 0 0 60px 0;
        width: 100%;
    }
    &__icon {
        height: auto;
        width: 31%;
        padding: 30px;
        transition: ease 0.2s; 
        @media screen and (max-width: 870px) {
            width: 100%;
        }
        &--active {
            transition: ease 0.2s; 
            box-shadow: 0px 10px 20px #1D1D1D1A;
        }
        &:hover {
            cursor: pointer;
            box-shadow: 0px 10px 20px #1D1D1D1A;
            transition: ease 0.2s; 
        }
        p {
            @media screen and (max-width: 870px) {
                display: none;
            }
        }
        img {
            margin: auto;
            width: 72px;
            height: 72px;
        }
        h3 {
            font-size: 35px;
            margin: 40px 0 20px 0;
            @media screen and (max-width: 870px) {
                display: none;
            }
        }
        div {   
            background-color: #D4BBE7;
            width: 72px;
            height: 72px;
            margin: auto;
        }
    }
    .none {
        display: none;
    }
    &__content{
        p{
            padding-bottom: 70px;
        }
    }
}