.timeline {
    @include padding;
    background: $gradient;
    color: white;
    position: relative;
    .container {
        max-width: $laptop;
        flex-direction: column;
        position: relative;
    }
    h2 {
        width: 100%;
        margin: 0 0 48px 0;
    }
    &__item:nth-child(even) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        text-align: left;
        .timeline__item__shape-horozontal {
            transform: rotate(270deg) translateY(50%) translateX(15px);
        }
    }
    &__item {
        display: flex;
        max-width: 800px;
        width: 100%;
        align-items: center;
        text-align: right;
        &__shape {
            position: absolute;
            left: 50%;
            display: flex;
            &-vertical {
                background-color: white;
                width: 15px;
                height: 300px;
                border-radius: 7.5px;
                position: absolute;
                transform: translateY(-50px);
            }
            &-horozontal {
                background-color: white;
                position: absolute;
                width: 10px;
                height: 40px;
                border-radius: 5px;
                transform: rotate(90deg) translateY(calc(50%)) translateX(-17px);
            }
        }
        &__text {
            width: 40%;
            @media screen and (max-width: $tablet) {
                width: 35%;
            }
            @media screen and (max-width: $mobile) {
                width: 25%;
                h4 {
                    font-size: 20px;
                }
            }
        }
    }
}