.nav {
    background-color: transparent;
    position: absolute;
    width: 100%;
    h1 {
        color: white;
    }
    .container {
        align-items: flex-start;
    }
    .desk {
        @media screen and (max-width: 1100px) {
            opacity: 0 !important;
        }
    }
    .default{
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .active {
        @media screen and (max-width: 1100px) {
            opacity: 1 !important;
            left: 0;
            position: absolute;
            flex-direction: column;
            width: 100vw;
            padding: 30px;
            z-index: 4;
            background-color: $purpleDark;
            top: 0;
            .nav__nav {
                display: flex;
                flex-direction: column;
            }
        }
        @media screen and (max-width: 1100px) {
            & .current-case {
                a {
                    color: white !important;
                    &.current {
                        &:after {    
                            background: white !important;
                        }
                    }
                    &:after {    
                        background: white;
                    }
                }
            }
        }
    }
    .reveal {
        display: block !important;
    }
    .current-case {
        color: $purple;
    }
    .parent {
        &:hover {
            cursor: pointer;
            height: 800px;
            .nav__dropdown {
                display: block !important;
            } 
            .nav__chevron {
                &::before {
                    transform: rotate(225deg);
                }
            }
            &:after {    
                width: 0% !important;
            }
        }
        .nav__chevron {
            position: absolute;
            transition: ease .2s;
            &::before {
                border-style: solid;
                border-width: 2px 2px 0 0;
                content: "";
                display: inline-block;
                height: 8px;
                left: 10px;
                position: relative;
                top: 8px;
                vertical-align: top;
                width: 8px;
                transform: rotate(135deg);
                transition: ease .2s;
            }
        }
    }
    &__dropdown {
        background-color: $purple;
        padding: 7.5px;
        position: absolute;
        z-index: 4;
        top: 50px;
        left: -50%;
        border-radius: 4px;
        width: fit-content;
        min-width: 200px;
        text-align: left;
        display: none;
        .child {
            display: block !important;
            margin:      0 !important;
            padding: 7.5px;
            color: #fff !important;
            border-radius: 4px;
            &:hover {
                background-color: $purpleDark;
                &:after {
                    display: none;
                }
            }
        }
    }
    &__hamburger {
        color: white;
        font-size: 20px;
        position: absolute;
        right: 30px;
        top: 30px;
        z-index: 5;
        @media screen and (min-width: 1100px) {
            display: none;
        }
    }
    &__logo {
        align-items: center;
        display: flex;
        &.none {
            display: none;
        }
        svg {
            left: 30px;
            z-index: 3;
            height: 28px;
            top: 35px;
            margin-top: 40px;
            @media screen and (max-width: 1100px) {
                margin-top: 25px;
            }
        }
    }
    &__nav {
        margin: auto;
        .child {
            display: none;
        }
        &.current-case {
                .nav__dropdown {
                    .child {
                        color: #fff !important;
                    }
                }
            a {
                color: $purple !important;
                &.current {
                    &:after {    
                        background: $purple !important;
                    }
                }
                &:after {    
                    background: $purple;
                }
            }
        }
        a {
            color: white !important;
            margin: 40px !important;
            display: inline-block;
            position: relative;
            &.current {
                &:after {    
                    background: none repeat scroll 0 0 transparent;
                    bottom: -12px;
                    content: "";
                    display: block;
                    height: 2px;
                    position: absolute;
                    background: #fff;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 100%;
                    left: 0;
                }
            }
            &:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: -12px;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover:after { 
                width: 100%; 
                left: 0; 
            }
        }
    }
    button {
        margin-top: 25px;
        &.current {
            background-color: $purple;
            border: 1px solid $purple;
            color: white;
            &:hover {
                color: $purple;
                background-color: white;
            }
        }
        background-color: white;
        border: 1px solid white;
        color: $purple;
        padding: 12px 48px;
        font-size: 16px;
        border-radius: 4px;
        font-weight: 600;
        height: fit-content;
        &:hover {
            color: white;
            background-color: $purple;
        }
    }
}