.nav {
    background-color: transparent;
    position: absolute;
    width: 100%;
    h1 {
        color: white;
    }
    &__nav {
        margin: auto;
        a {
            color: white !important;
            margin: 40px !important;
            display: inline-block;
            position: relative;
            &:after {    
                background: none repeat scroll 0 0 transparent;
                bottom: -12px;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }
            &:hover:after { 
                width: 100%; 
                left: 0; 
            }
        }
    }
    button {
        background-color: white;
        border: 1px solid white;
        color: $purple;
        padding: 12px 48px;
        font-size: 16px;
        border-radius: 4px;
        font-weight: 600;
        &:hover {
            color: white;
            background-color: $purple;
        }
    }
}